@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.ant-table-tbody a {
  color: #046242 !important;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

/* 혹시 몰라 추가 */
.ant-menu-horizontal > .ant-menu-item > a::before {
  bottom: -2px;
}

/* ant-menu-item active할 때 */
.ant-menu-item a:hover {
  color: #046242 !important;
  border-bottom: 2px solid #046242 !important;
  /* border-bottom-color: #4a235a !important; */
  /* border-color: #1DA !important; */
  /* border-bottom: #046242 !important; */
  /* border: transparent !important; */
}

/*ant-menu-item hover하거나 옆에 있을 때 */
.ant-menu-item menuclass2 > ant-menu-item-active {
    bottom: -2px;
    color: white !important;
}

.ant-menu-item menuclass3 ant-menu-item-active {
  bottom: -2px;
  color: white !important;
}

.ant-menu-item menuclass4 ant-menu-item-active ::before {
  bottom: -2px;
  color: white !important;
}

html {
  --antd-wave-shadow-color: #046242;
}

.ant-btn-primary {
  color: #fff;
  background-color: #046242 !important;
  border-color: #046242 !important;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ant-spin {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum', "tnum";
  position: absolute;
  display: none;
  color: #046242 !important;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}

/* 페이지네이션 숫자 색이랑 border 색 */
.ant-pagination-item-active a {
  color: #046242 !important;
}

.ant-pagination-item-active {
  border-color: #046242 !important;;
}

/* 페이지네이션 hover 시 */
.ant-pagination-item a:hover {
  color: #046242 !important;
}

.ant-pagination-item:hover {
  border-color: #046242 !important;
}

/* <> 버튼: anticon까지 가져올 필요 없음*/
.ant-pagination-prev a:hover {
  color: #046242 !important;
  border-color: #046242 !important;
}

.ant-pagination-next a:hover {
  color: #046242 !important;
  border-color: #046242 !important;
}

/* 로딩 */
.ant-spin-dot-item {
  background-color: #046242 !important;
}

/* filter dropdown에서 OK랑 Reset */
.ant-table-filter-dropdown-btns a {
  color: #046242 !important;
}

/* 클릭시, hover 시 filter dropdown 글씨색이 바뀜 */
.ant-dropdown-menu-item-active {
  color: #046242 !important;
  background-color: #e2f8f1 !important;
}

/* filter dropdown 클릭 후에? */
.ant-dropdown-menu-item-active::after {
  color: #046242 !important;
  background-color: #e2f8f1 !important;
}

/* sorting up and down */
.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on, .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
  color: #046242 !important;
}

.ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on, .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on {
  color: #046242 !important;
}

/* filter 아이콘 */
.ant-table-thead > tr > th .ant-table-filter-selected.anticon-filter {
  color: #046242 !important;
}

/* 체크박스 */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #046242 !important;
  border-color: #046242 !important;
}

/* 체크박스 hover */
.ant-checkbox-inner:hover {
  color: #046242 !important;
}

/* 클릭 후에 */
.ant-dropdown-menu-item-selected, .ant-dropdown-menu-submenu-title-selected, .ant-dropdown-menu-item-selected > a, .ant-dropdown-menu-submenu-title-selected > a {
  color: #046242 !important;
  background-color: #e2f8f1 !important;
}

.ant-input:hover {
  border-color: #046242 !important;
  /* outline: 2;
  -webkit-box-shadow: 0 0 0 2px #e2f8f1;
  box-shadow: 0 0 0 2px #e2f8f1; */
}

.ant-input:focus {
  border-color: #046242 !important;
  /* -webkit-box-shadow: 0 0 0 2px #e2f8f1;
  box-shadow: 0 0 0 2px #e2f8f1; */
}

.ant-table-filter-trigger.active {
  color: #046242 !important;
}

.ant-btn-link {
  color: #046242 !important;
}

.FooterBg {
  color: gray !important;
}

/* compDetail page 셀 색깔 바꾸기 */
/* .ant-descriptions-item {

} */

.e_class {
  background-color: #9bbb59;
}

.clim_change {
  /* background-color: rgb(176, 228, 176) !important; */
  background-color: #9bbb59;
}

.nat_res {
  background-color: #9bbb59;
}

.env_protect {
  background-color: #9bbb59;
}

.s_class {
  background-color: #6d9eeb !important;
}

.hr {
  background-color: #6d9eeb !important;
}

.prod_safe {
  background-color: #6d9eeb !important;
}

.soc_impact {
  background-color: #6d9eeb !important;
}

.corp_compete {
  background-color: #6d9eeb !important;
}

.g_class {
  background-color: #f79745 !important;
}

.gov {
  background-color: #f79745 !important;
}

.corp_ethic {
  background-color: #f79745 !important;
}

.p_class {
  background-color: #fed802 !important;
}

.esg_total {
  background-color: #ff5e0e !important;
}

.total {
  background-color: #ff5e0e !important;
}